<div class="my-3">
  <!-- 左上角的收合按鈕 -->
  <div *ngIf="collapseBtn" class="collapseBtn">
      <button mat-icon-button (click)="isCollapsed = !isCollapsed" class="toggle-btn" style="border: 1px solid grey;">
        {{ isCollapsed ? 'Collapse' : 'Expand' }}
      </button>
  </div>
  <div *ngFor="let item of paginatedItems" class="mb-1">
    <mat-expansion-panel [disabled]="true" [expanded]="isCollapsed" hideToggle>
      <mat-expansion-panel-header >
        <mat-panel-title>
          
            <table mat-table  [dataSource]="[item]" class="mat-table">
              <ng-container *ngFor="let column of headerColumns" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef  (click)="onSort(column)" >
                  {{ column }}
                  <span *ngIf="sortColumn === column">
                    {{ sortDirection === 'asc' ? '⭡' : '⭣' }}
                  </span>
                </th>
                <td mat-cell *matCellDef="let element" class="mat-cell">
                  {{element|jsonKey:column}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
            </table>
      
        
        </mat-panel-title>
      </mat-expansion-panel-header>

      
        <table class="table-content">
          <tr>
            <th *ngFor="let column of detailsColumns">{{ column }}</th>
          </tr>
          <tr>
            <td *ngFor="let property of detailsColumns">{{item[property]}}</td>
          </tr>
        </table>
      
    </mat-expansion-panel>
  </div>
</div>
<div class="paginator-container">
  <mat-paginator  #paginator [length]="elementData.length" [pageSize]="size" [pageSizeOptions]="[5, 10, 15, 20, 25]"
    aria-label="分頁選擇器" showFirstLastButtons="true">
  </mat-paginator>
  <div class="d-inline-block">
    跳轉至
    <div class="jump-to-page">
      <input type="number" min="1" [max]="maxPage" [(ngModel)]="pageInput" (keydown.enter)="jumpToPage()" />
    </div>
    頁
  </div>
</div>
